.row
  .span3
    / Start of shared/search_form
    = render partial: 'shared/search_form'
    / End of shared/search_form
  .span9
    / Start of shared/property_details
    = render partial: 'shared/property_details', properties: @properties
    / End of shared/property_details