.span9
  %h2 Property Details
  = render 'property/property_details', property: @property
  %h2 Similar Properties
  - if @properties.length == 0
    %h4 There are no similar properties
  - @properties.each do |property|
    = render 'property/property_details', property: property