.span9
  %h2 Property Details
  / Start of shared/property_details
  = render 'shared/property_details', property: @property
  / End of shared/property_details
  %h2 Similar Properties
  - @properties.each do |property|
    / Start of shared/property_details
    = render 'shared/property_details', property: property
    / End of shared/property_details