= form_tag root_path, method: 'get' do
  %fieldset
    %legend Search
    = text_field_tag 'name', params[:name], placeholder: 'Example: London flat'
    - options = options_for_select(1..5, params[:bedroom_count])
    = label_tag 'Bedrooms'
    = select_tag 'bedroom_count', options, include_blank: true
    %button{class: 'btn btn-primary', type: 'submit'} Search